body{
    background-color: #03396c;
}

.feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feed img {
    padding: 20px;
}
.feed img:hover  {
    background-color: rgba(0, 0,0, .50);
    cursor: pointer;
}

.feed button {
    height: 5px;
}

.feed {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.search input {
    width: 300px;
    height: 20px;
    margin-top: 100px;
    border-radius: 15px;
    -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}
.search input[type=text]:focus{
    width: 500px;
    -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#logo{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* padding-top: px; */
    height: 50px;
    width: 50px;
}

button{
    color: white;
    background-color: transparent;
    background-image: none;
    border-color:white;
    height: 100px;
    width: 200px;
    cursor: pointer;
    height: auto;
    width: auto;
}

button:hover{
    background-color: #b3cde0;
    color: black
}

button:active{
    background-color: rgb(8, 123, 199);
}


#caption{
    border-radius: 15px;
}

.fileUpload input{
    background-color: #005b96;
    color: white
}
