.feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feed img {
    padding: 20px;
}

.feed button {
    height: 5px;
}

.feed {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.search input {
    width: 300px;
    height: 20px;
    margin-top: 100px;
}

#button{
    height: 50px;
    width: 50px;
}