.toolbar {
    position: fixed;
    width: 100%;
    background-color: #000000;
    height: 50px;
    top: 0;
    left: 0;    
}

.toolbar_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0;
    padding-left: 1 rem;
}

.toobar_navigation_items a:visited {
    display: flex;
    flex-direction: row;
    color: white;
}

/* #logo{
    height: 500px;
    width: 50px;
} */