body{

    background-color: #6497b1;
    color: black;
}

.bar{
    display: grid;
    grid-row: 2px;
    margin-bottom: auto;
}

.logo{
    height: 100px;
    width: 100px;;
}

header{
    display: grid;
    flex-direction: row-end;
    flex-wrap: wrap-reverse;
}

#signUP{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff
}