body{
    
    background-color: #011f4b;
    color: black;
    font-family: monospace
}


.LandingPage{
    /* height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px; */
    /* display: grid;
    justify-content: center;
    align-self: start; */
    
} 
/* .bar{
    display: grid;
    grid-row: 2px;
    margin-bottom: auto;
} */

.logo{
    height: 110px;
    width: 110px;;
}
#leftSide{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    background-color: #005b96;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}


#rightSide{
    display: flex;
    flex-direction: row-reverse;
    
    
    background-color:#03396c;
}
#signUP{
    width: 100%;
	color: black;
	background-color: #b3cde0;
	border-radius: 100px;
	line-height: 20px;
	font-size: 20px;
	margin-bottom: 10px;
}

#signUP:hover{
    background-color: #03396c;
    color: black;
}

#signUP:active{
    background-color: red;
}

.signup-info{
    display: grid;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
}
#logIN{
    width: 100%;
	color: black;
	background-color: #b3cde0;
	border-radius: 100px;
	line-height: 20px;
	font-size: 20px;
}

#logIN:hover{
    background-color: #03396c;
    color:black  
}

.login-info{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
}
