.profilePic img{
    display: flex;
    position: absolute;
    margin-top: 60px;
    margin-left: 10%;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.logout {
    display: flex;
    position: absoloute;
    margin-top: 30px;
    justify-content: center;
}

.userName {
    display: flex;
    position: absolute;
    margin-top: 100px;
    margin-left: 25%;
    font-weight: bold;
    font-size: xx-large;
    color:white 
}

.userPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 20%;
    color:white
}

.userPosts img {
    height: 200px;
    width: 200px;
    padding: 20px;
}

.file {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 25%;
}