.profilePic img{
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 15%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.userName {
    display: flex;
    position: absolute;
    margin-top: 70px;
    margin-left: 33%;
    font-weight: bold;
    color:white 
}

.userPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 20%;
    color:white
}

.userPosts img {
    height: 200px;
    width: 200px;
    padding: 20px;
}

#button{
    height: 50px;
    width: 50px;
}